@import "bulma/bulma.sass";

body {
    //margin: 20px;
    //min-height: 1200px;
}

// Чтобы чекбоксы ровно переносились
.checkbox {
    word-break: break-all;
}

.hero-body {
    padding: 10px;
}

* {
    box-sizing: border-box;
}