@import '@/assets/vars.scss';

@import '@/assets/My/button.scss';
@import '@/assets/My/box.scss';

* {
	box-sizing: border-box;
}

.link {
	background-color: $info;
	color: white;
}

// .title {
// 	font-size: 1.5rem;
// }

